<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="app.js"></script>
<script src="angular-img-cropper.js"></script>
<script src="cropper-controller.js"></script>
</head>
<body ng-app="app">
  <div ng-controller="ImageCropperCtrl as ctrl">
    <input type="file" img-cropper-fileread image="cropper.sourceImage" />
    <div>
      <canvas width="500" 
			  height="300"
			  id="canvas" 
			  image-cropper 
			  image="cropper.sourceImage"
			  cropped-image="cropper.croppedImage"
			  crop-width="width"
			  crop-height="height" 
			  min-width="100" 
			  min-height="50" 
			  keep-aspect="keepaspect" 
			  crop-area-bounds="bounds">
	    </canvas>
    </div>
    <input type="text" ng-model="width">
    <input type="text" ng-model="height">
    <input type="checkbox" ng-model="keepaspect">
    <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>
    <div ng-show="cropper.croppedImage!=null"><img ng-src="{{cropper.croppedImage}}" /></div>
  </div>
</body>
</html>